.ParentWrapper{
    grid-column: 2;
    grid-row-start: 2;
    border-radius: 40px;
    background-color: white;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.25);
    align-self: center;
    height: 40%;
}
.ChildWrapper{
    height: 100%;
    background: linear-gradient(270deg, #F9B9F2 -24.95%, #5603AD 100%);
    border-radius: 40px;
}
.ProgressBar{
    width: 100%;
}