.nounsNavLink,
.nounsNavLink:active,
.nounsNavLink:visited {
    font-family: 'PT Root UI';
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem !important;
    color: black !important;
}