.Wrapper {
    font-size: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid';
    text-align: left;
}

.hoursWidth {
    width: 11.5rem;
}

.minutesWidth {
    width: 7.5rem;
}

.secondsWidth {
    width: 3.5rem;
}

/* TODO: center text on mobile */