.HeaderBar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
  max-width: 1140px;
}

.navBarBrand {
  position: relative;
  z-index: 2;
  padding: 5px;
}

.nonHideItems {
  margin-left: auto;
}

/* connect button displays differently to default NavBarItems, thus the !importants */
.navBarToggle {
  border-radius: 10px;
  height: 44px;
  padding: 0.25rem 0.5rem;
  margin-right: 12px;
}

.connectBtn {
  cursor: pointer;
}

.connectBtn:hover,
.connectBtn:active,
.connectBtn:focus {
  cursor: pointer !important;
}

.disconnectBtn {
  cursor: pointer;
  font-family: 'PT Root UI';
  font-weight: bold;
}

.disconnectBtn:hover,
.disconnectBtn:active,
.disconnectBtn:focus {
  cursor: pointer !important;
}

.nounsNavLink,
.nounsNavLink:active,
.nounsNavLink:visited {
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem !important;
  color: black !important;
  /* padding: 0.5rem 0.8rem !important;
  color: var(--brand-black) !important; */
}

.nounsNavLink:hover {
  color: var(--brand-dark-red) !important;
}

.testnetImg {
  width: auto;
  height: 45px;
}

.addressNavLink {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brandAndPlayersWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.navBarToggle {
  border-radius: 10px;
  height: 44px;
  padding: 0.25rem 0.5rem;
  margin-right: 12px;
}

@media (max-width: 600px) {
  .navBarBrand {
    margin-right: 0px;
  }
}