/* double Noun display */
.nounsWrapper {
    gap: 3rem;
}

.imgWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.img {
    z-index: 10;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: 100%;
    height: 100%;
    max-width: 250px;
}

.twoNouns .img {
    max-width: 200px;
}

/* single Noun display */
.nounWrapper .nounId {
    display: none;
}

.nounId {
    opacity: 0.75;
    background-color: #fff;
    color: #222;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Londrina Solid';
}

.nounId .icon {
    display: none;
    font-size: 0.75em;
}

.platform {
    margin-top: -2.725rem;
    z-index: 5;
    max-width: 324px;
}

.twoNouns .platform {
    margin-top: -2.25rem;
}

.nounderLight {
    display: none;
}

.differentBackgrounds .nounderLight {
    display: flex;
    transform: perspective(10px) rotateX(-1deg);
    padding-top: -6px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 0;
}

@media only screen and (min-width: 768px) {
    .nounsWrapper {
        display: flex;
    }

    .imgWrapper {
        position: relative;
    }

    .img {
        max-width: 320px;
    }

    .twoNouns .img {
        max-width: 320px;
    }

    /* single Noun display */
    .nounWrapper .img {
        height: 100%;
    }

    /* double Noun display */
    .nounsWrapper .img {
        height: auto;
    }

    .nounId {
        font-size: 2em;
    }

    .platform {
        margin-top: -3.725rem;
    }

    .twoNouns .platform {
        margin-top: -3.725rem;
    }

    .differentBackgrounds .nounderLight {
        transform: perspective(15px) rotateX(-1deg);
        padding-top: -16px;
        margin-top: 26px;
        height: 320px;
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    .img {
        width: 320px;
        max-width: 320px;
    }

    .nounId {
        font-size: 2.5em;
    }
}