.img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    width: 100%;
    height: 100%;
}

.imgWrapper {
    display: flex;
    justify-content: center;
}

.multinounWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.25);

    margin: 1em;
}

.multinounWrapper .img {
    max-width: 200px;
}

@media only screen and (min-width: 500px) {
    .imgWrapper .img {
        width: 500px;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .multinounWrapper .img {
        width: 500px;
        max-width: 100%;
    }
    .multinounWrapper {
        flex-direction: row;
    }
}