.title {
    text-align: center;
    font-family: 'Londrina Solid';
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.wrapper {
    width: 100%;
    justify-self: center;
    white-space: pre-wrap;
    padding-bottom: 0.5rem;
}

.cool {
    color: var(--brand-cool-dark-text);
}

.warm {
    color: var(--brand-warm-dark-text);
}