.voteButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.2em;

    /* Width */
    width: 30%;
    min-width: 85px;
    max-width: 200px;
}
.voteButton:enabled:hover{
    background: rgba(0, 0, 0, 0.1);
}

.voteText{
    font-size: 1.5em;
    font-weight: bold;
}

.voteEmojiText{
    font-size: 3em;
}

.selected{
    border: 2px solid black;
    background: rgba(254, 255, 181, 0.76);
}
