button {
    padding: 0;
}

.voteButton {
    cursor: pointer;
    border: transparent;
    border-radius: 20px;
    width: 50%;
    min-width: 85px;
    max-width: 160px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.cool {
    background-color: var(--brand-cool-background);
    color: var(--brand-cool-light-text);
    stop-color: var(--brand-cool-light-text);
}

.warm {
    background-color: var(--brand-warm-background);
    color: var(--brand-warm-light-text);
    stop-color: var(--brand-warm-light-text);
}

.voteButton:disabled {
    cursor: not-allowed;
}

.gradientBox {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0.125rem;
}

.positive.selected {
    background: linear-gradient(90deg, var(--fomo-color-teal) 0%, var(--fomo-color-lime) 100%);
}

.positive:hover:not(.disabled) {
    background: linear-gradient(90deg, var(--fomo-color-teal) 0%, var(--fomo-color-lime) 100%);
}

.negative.selected {
    background: linear-gradient(90deg, var(--fomo-color-purple-bright) 0%, var(--fomo-color-red) 100%);
}

.negative:hover:not(.disabled) {
    background: linear-gradient(90deg, var(--fomo-color-purple-bright) 0%, var(--fomo-color-red) 100%);
}

.dataBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    border-radius: 19px;
}

.thumbBox {
    margin-top: 0.75rem;
    margin-bottom: 0.375rem;
}

.thumbBoxSelected {
    margin-top: 0.6rem;
    margin-bottom: 0.275rem;
}

.thumb {
    height: 2rem;
    width: 2rem;
}

.thumbSelected {
    height: 2.25rem;
    width: 2.25rem;
}

.voteText {
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .voteText {
        font-size: 1.25em;
        font-weight: bold;
    }
}

.thumbSelectedPositiveStopTop {
    stop-color: var(--fomo-color-lime);
}

.thumbSelectedPositiveStopBottom {
    stop-color: var(--fomo-color-teal);
}

.thumbSelectedNegativeStopTop {
    stop-color: var(--fomo-color-red);
}

.thumbSelectedNegativeStopBottom {
    stop-color: var(--fomo-color-purple-bright);
}

.positive:hover:not(.disabled) .thumbPositiveStopTop {
    stop-color: var(--fomo-color-lime);
}

.positive:hover:not(.disabled) .thumbPositiveStopBottom {
    stop-color: var(--fomo-color-teal);
}

.negative:hover:not(.disabled) .thumbNegativeStopTop {
    stop-color: var(--fomo-color-red);
}

.negative:hover:not(.disabled) .thumbNegativeStopBottom {
    stop-color: var(--fomo-color-purple-bright);
}