.VoteBar {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 4;
    min-height: 80px;
    padding: 1em 20%;
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.reconnect {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: Roboto Mono;
    font-size: 1.5em;
    font-weight: bold;
}