.App{
  display: grid;
  grid-template-columns:.7fr 1fr .5fr;
  grid-template-rows: .5fr 1fr max-content max-content .5fr;
  column-gap: 10px;
  row-gap: 0px;
  min-width: 100vh;
  min-height: 100vh;
}

.bgGrey{
  background-color: #d5d7e1;
}

.bgBeige {
  background-color: #e1d7d5;
}
